<div id="controlpanel" class="viewcontainer">
	<el-row>
		<el-col :span="24">
			<div class="viewheader">User Panel</div>
		</el-col>
	</el-row>
	<el-row>
		<div class="viewbody">
			<el-col :span=5>
				<el-row :span=20>
					<div id="save"></div>
				</el-row>
				<el-row :span=4>
					<div id="submit">
						<el-button plain>submit</el-button>
					</div>
				</el-row>
			</el-col>
			<el-col :span=19>
				<div id="control"></div>
			</el-col>
		</div>
	</el-row>
</div>
